@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center"><br>    
    <h1 class="display-4">Calicot Enchères !</h1>
    <br/>
    <p>Bienvenue sur le meilleur site d'enchères en ligne !
    <br/>Que vous soyez un passionné de collection, un chasseur de bonnes affaires ou simplement curieux, vous êtes au bon endroit.
    <br/>Notre plateforme sécurisée vous permet de participer aux enchères en temps réel, de suivre vos objets préférés et de remporter des trésors à des prix incroyables.</p>
    <br/>Alors, rejoignez-nous dès maintenant !</p>
</div>



<p>
    Ce code est une version modifiée de <a href="https://github.com/codeafuture/Auctions" target="_blank">celui-ci</a>.
</p>